html {
	background-color: Mintcream;
}

h1 {
	padding: 15px 0px 15px 0px;
	text-align: center;
	margin: auto;
	font-size: 75px;
	font-style: comic;
}

.game {
	
	width: 800px;
	height: 800px;
	margin: auto;
	float: center;
	border: 5px solid blue;
	border-radius: 25px;
	background-color: lightblue;
}

.menu {
	font-size: 40px;
	display: inline-block;
	padding: 20px 10px 20px 20px;
	width: 320;
	height: 760px;
}

span {
	display: inline-block;
	float: right;
}

#next {
	background-color: White;
	width: 160px;
	height: 160px;
	margin: 0px 80px 80px 80px;
	border: 2px solid black;
}


#cleared {
	text-align: right;
	color: blue;
}

#score {
	text-align: right;
	color: red;
}

button {
	margin-top: 20px;
	width: 100%;
	height: 100px;
	background-color: LightBlue;
	border: none;
	font-size: 40px;
	font-family: sans-serif;
	color: red;
	cursor: pointer;	
}

.playground {
	background-color: White;
	display: inline-block;
	margin: 20px 20px 20px 10px;
	width: 400px;
	height: 760px;
	border: 2px solid black;
	float: right;
	
}

a:hover {
	color: pink;
}

footer {
 text-align: center;
}