html {
	background-color: LightBlue;
}

.game {
	position: relative;
	width: 810px;
	height: 850px;
	margin: auto;
	float: center;
	border: 5px solid black;
	border-radius: 25px;
	background-color: LightGrey;
}

.menu {
	font-size: 40px;
	display: inline-block;
	width: 340px;
	margin: 20px 0px 0px 20px;
}

.preview {
	background-color: white;
	width: 120px;
	height: 120px;
	border: 2px solid black;
	margin-left: 100px;
	display: inline-block;
}

span {
	display: inline-block;
	float: right;
}

#next {
	background-color: White;
	width: 160px;
	height: 160px;
	margin: 0px 80px 80px 80px;
	border: 2px solid black;
}


#cleared {
	text-align: right;
	color: blue;
}

#score {
	text-align: right;
	color: red;
}

#start {
	position: absolute;
	left: 470px;
	z-index: 1;
}

.playground {
	background-color: white;
	display: inline-block;
	margin: 20px 20px 20px 20px;
	width: 400px;
	height: 800px;
	border: 2px solid black;
	float: right;
}

footer {
 text-align: center;
}